/* Navbar.css */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  background-color: transparent;
  /* Default transparent background */
  padding: 10px 20px;
  z-index: 1000;
}

body,
html {
  padding: 0;
  margin: 0;
}
.logo{
  max-width: 100px;
  display: flex;
}
.logo .img{
  margin-right: 15%;
  width: 100%;
  max-width: 70px;
  max-height: 70px;
  aspect-ratio: '1/1';
}
.mainBody {
  background-color: #333;
  width: 100%; 
  margin: auto;
  height: 900px;
}

.navbar.scrolled {
  background-color: #1d1d1d;
  /* Dark background when scrolled */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  color: #fff;
  /* White text color */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 15px;
  padding: 15px 0;
  vertical-align: middle;
}

.navbar a.active {
  text-decoration: underline;
  color: rgb(192, 192, 192);
}

.navbar a {
  text-decoration: none;
  vertical-align: middle; text-align: center;
  color: #fff;
  padding: 15px 0;
  /* White text color */
  font-weight: bold;
  cursor: pointer;
}

.navbar a:hover,
.navbar button:hover {
  text-decoration: underline;
  color: rgb(192, 192, 192);
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text],
.navbar button,
.navbar a {
  padding: 6px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  cursor: pointer;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }

  .navbar input[type=text],
  .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .navbar input[type=text] {
    border: 1px solid #ccc;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  /* Transparent overlay */
  z-index: 10;
  /* Ensures overlay is on top of the video */
}

.overlay h1,
.overlay h2 {
  text-align: center;
  color: white;
  font-family: 'Courier New', Arial;

}

.overlay h1 {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 15%;
  font-size: 4.5vw;
}

.overlay button {
  display: block;
  margin: auto;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.2vw;
  font-family: Courier New;
  margin-top: 2%;
}

.overlay h2 {

  display: block;
  margin-top: 15%;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  font-size: 2vw;

}
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn { 
  border: none;
  outline: none;
  color: white; 
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */ 
}

/* Add a red background color to navbar links on hover */
 
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}